* {
    margin: 0;
    padding: 0;
}

/** header */
header {
    background-color: cadetblue;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    list-style: none;
    display: flex;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    /* Smooth color transition on hover */
}

.navigation a:hover {
    color: #ecf0f1;
}

.user-info {
    display: flex;
    align-items: center;
}

.username {
    margin-right: 10px;
    color: #fff;
}

#logout {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition on hover */
}

#logout:hover {
    background-color: #f8dfdf;
    /* Change background color on hover */
    color: #333;
}