.orders-container {
    margin: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 400px;
    /* Set a fixed width for the card */
    height: 150px;
    /* Set a fixed height for the card */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.card img {
    width: 150px;
    height: auto;
    border-right: 1px solid #ddd;
    object-fit: cover;
}

.card .details-container {
    padding: 10px;
    flex-grow: 1;
}



.card .details-container h4 {
    margin-bottom: 5px;
}