#product-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
}
#products {
  margin: 50px auto;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}

.productCard {
  width: 150px;
  height: fit-content;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px 20px;
  border-radius: 6px;
  cursor: pointer;
}
.productCard img {
  max-width: 100%;
  height: 50%;
  max-height: 70px;
}
.back-to-products,
.edit-product {
  background-color: #1dbbe2;
}
.delete-product {
  background-color: #da180a;
}
.add-to-cart {
  background-color: #0ada26;
}

.back-to-products,
.edit-product,
.delete-product,
.add-to-cart {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  min-width: 90%;
}
.back-to-products:hover,
.edit-product:hover,
.delete-product:hover,
.add-to-cart:hover ,
#add:hover{
  opacity: 0.5;
}
#add {
  background-color: #0ada26;
  position: fixed;
  left: 10px;
  bottom: 20px;
  width: 100px;
}
#add {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px auto;
}
#product-form {
  position: absolute;
  top: 100px;
  left: 450px;
  border: 1px solid gray;
  box-shadow: 5px 5px 5px 5px gray;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: antiquewhite;
  width: 500px;
}

#product-form label,
#product-form input,
#product-form textarea {
  padding: 10px;
  margin: 10px auto;
  font-size: 1rem;
  width: 90%;
}
#product-form label {
  margin: 10px;
}
.hidden {
  display: none;
}

/* product details */
#product-details {
  max-width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}
#product-details img{
  max-width: 90%;
  margin: 10px;
}